<div class="pt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="header-title">
              <h4 class="card-title">Evénements</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="new-user-info">
              <form #myForm="ngForm">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="title">Titre</label>
                    <input
                      type="text"
                      class="form-control"
                      name="title"
                      placeholder="titre"
                      [(ngModel)]="newEvent.title"
                      required
                    />
                    <div
                      class="text-danger text-sm ml-2"
                      *ngIf="
                        myForm.controls['title']?.invalid &&
                        myForm.controls['title'].touched
                      "
                    >
                      Le titre est obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fname">Nom du formateur:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="formateur"
                      placeholder="nom du formateur"
                      [(ngModel)]="newEvent.formateur"
                      required
                    />
                    <div
                      class="text-danger text-sm ml-2"
                      *ngIf="
                        myForm.controls['formateur']?.invalid &&
                        myForm.controls['formateur'].touched
                      "
                    >
                     le nom du formateur est obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="location">Adresse</label>
                    <input
                      type="text"
                      class="form-control"
                      name="location"
                      placeholder="adresse"
                      [(ngModel)]="newEvent.location"
                      required
                    />
                    <div
                      class="text-danger text-sm ml-2"
                      *ngIf="
                        myForm.controls['location']?.invalid &&
                        myForm.controls['location'].touched
                      "
                    >
                      L'adresse est obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="price">Prix:</label>
                    <input
                      type="number"
                      class="form-control"
                      name="price"
                      placeholder="10 TND"
                      [(ngModel)]="newEvent.price"
                      required
                    />
                    <div
                      class="text-danger text-sm ml-2"
                      *ngIf="
                        myForm.controls['price']?.invalid &&
                        myForm.controls['price'].touched
                      "
                    >
                      Le prix est obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="maxParticipants"
                      >Max number of participants:</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="maxOfParticipants"
                      placeholder="nombre des participants"
                      [(ngModel)]="newEvent.maxOfParticipants"
                      required
                    />
                    <div
                      class="text-danger text-sm ml-2"
                      *ngIf="
                        myForm.controls['maxOfParticipants']?.invalid &&
                        myForm.controls['maxOfParticipants'].touched
                      "
                    >
                     Le nombre des participants est obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="date">Date:</label>
                    <input
                      type="date"
                      class="form-control"
                      name="date"
                      placeholder="date"
                      [(ngModel)]="newEvent.date"
                      required
                    />
                    <div
                      class="text-danger text-sm ml-2"
                      *ngIf="
                        myForm.controls['date']?.invalid &&
                        myForm.controls['date'].touched
                      "
                    >
                      La date est obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label>Type:</label>
                    <select
                      class="form-control"
                      name="type"
                      [(ngModel)]="newEvent.type"
                      required
                    >
                      <option></option>
                      <option>Formation</option>
                      <option>Event</option>
                    </select>
                    <div
                      class="text-danger text-sm ml-2"
                      *ngIf="
                        myForm.controls['type']?.invalid &&
                        myForm.controls['type'].touched
                      "
                    >
                      Le type est obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="descirption">Description</label>
                    <textarea
                      type="text"
                      class="form-control"
                      name="description"
                      placeholder="Description"
                      [(ngModel)]="newEvent.description"
                      required
                    ></textarea>
                    <div
                      class="text-danger text-sm ml-2"
                      *ngIf="
                        myForm.controls['description']?.invalid &&
                        myForm.controls['description'].touched
                      "
                    >
                      La description est obligatoire.
                    </div>
                  </div>
                </div>
                <div class="custom-control custom-switch custom-control-inline">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customSwitch2"
                    checked=""
                  />
                  <label
                    class="custom-control-label"
                    [(ngModel)]="newEvent.activity"
                    for="customSwitch2"
                    >nouveauté</label
                  >
                </div>
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                      <h4 class="card-title">Télécharger une image</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <input
                      class="mx-5"
                      type="file"
                      (change)="onFileSelected($event)"
                      [(ngModel)]="newEvent.image"
                      name="cv"
                    />
                  </div>
                </div>
                <hr />
                <div class="text-center mt-2">
                  <button
                    (click)="onSubmit(newEvent)"
                    type="submit"
                    class="btn btn-primary mr-2"
                    [disabled]="myForm.invalid"
                  >
                    Ajouter
                  </button>
                  <button class="btn bg-gray" (click)="goBack()">Annuler</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>