<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
               <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                      <h5>Formations</h5>
                      <div class="d-flex flex-wrap align-items-center justify-content-between">
                          <div class="dropdown status-dropdown mr-3">
                              <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown">
                              <div class="btn bg-body"><span class="h6">Status :</span> In Progress<i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                              </div>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03">
                                  <a class="dropdown-item" href="#"><i class="ri-mic-line mr-2"></i>In Progress</a>
                                  <a class="dropdown-item" href="#"><i class="ri-attachment-line mr-2"></i>Priority</a>
                                  <a class="dropdown-item" href="#"><i class="ri-file-copy-line mr-2"></i>Category</a>
                              </div>
                          </div>
                          <div class="pl-3 btn-new border-left">
                              <a href="#" class="btn btn-success" data-target="#new-project-modal" data-toggle="modal">New Formation</a>
                          </div>
                        </div>
                        <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid"
                           aria-describedby="user-list-page-info">
                           <thead>
                              <tr class="ligth">
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Action</th>
                              </tr>
                           </thead>
                           <tbody>
                            <tr class="col-12">
                              <td class="col-1"><img src="../../../../assets/images/angularBootcampLogo.png" alt="formation image" style="max-width: 100px;"></td>
                              <td class="col-2">Angular bootcamp</td>
                              <td class="col-4">This is a short description that's explaining what the formation is about.</td>
                              <td class="col-2">16 Dec 2023</td>
                              <td class="col-1">Sousse</td>
                                <td class="col-2">
                                  <div class="flex align-items-center list-user-action">
                                     <a class="btn btn-sm bg-primary mr-1" data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Edit" href="#"><i class="ri-pencil-line mr-0"></i></a>
                                     <a class="btn btn-sm bg-secondary mr-1" data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a>
                                  </div>
                               </td>
                           </tbody>
                        </table>
                            
                    </div>
                            
                                     
                                  
                       <div class="row justify-content-between mt-3">
                        <div id="user-list-page-info" class="col-md-6">
                           <span>Showing 1 to 5 of 5 entries</span>
                        </div>
                        <div class="col-md-6">
                           <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-end mb-0">
                                 <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                 </li>
                                 <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                                 <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                 </li>
                              </ul>
                           </nav>
                        </div>
                   </div>
 
                             
              
                        
                           
       </div>
    </div>
</div>
</div>
  <app-add-formation-modal></app-add-formation-modal>
  </div>
