@media only screen and (min-width: 992px) {
    .w-lg-75 {
      width: 75%;
    }
  }
  .table-header-item {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
  }
  
  .table-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .paragraph{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }