<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body p-0">
        <div class="iq-edit-list usr-edit">
          <ul
            class="iq-edit-profile d-flex nav nav-pills flex-column flex-sm-row"
          >
            <li class="col-md-3 p-2">
              <a
                class="nav-link active"
                data-toggle="pill"
                href="#personal-information"
              >
              Informations personnelles
              </a>
            </li>
            <li class="col-md-3 p-2">
              <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                Modifier mot de passe
              </a>
            </li>

            <li class="col-md-3 p-2">
              <a class="nav-link" data-toggle="pill" href="#manage-contact">
                Gérer les contacts
              </a>
            </li>
            <li class="col-md-2 p-2">
              <a class="nav-link" data-toggle="pill" href="#change-skill">
                Compétences des membres
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="iq-edit-list-data">
    <div class="tab-content">
      <div
        class="tab-pane fade active show"
        id="personal-information"
        role="tabpanel"
      >
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Informations personnelles</h4>
            </div>
          </div>
          <div class="card-body">
            <form #Changeform="ngForm">
              <div class="form-group row align-items-center">
                <label for="image-upload" class="col-md-3 col-form-label"
                  >Image Profile</label
                >
                <div class="col-md-9">
                  <div class="profile-img-edit">
                    <div class="crm-profile-img-edit">
                      <img
                        *ngIf="!user_update.image"
                        class="crm-profile-pic rounded-circle avatar-100"
                        src="assets/images/user/11.png"
                        alt="profile-pic"
                      />
                      <img
                        *ngIf="user_update.image"
                        class="crm-profile-pic rounded-circle avatar-100"
                        [src]="'/api/arsii/file/img/' + user_update.image"
                      />
                      <div class="image-path"></div>
                      <div class="crm-p-image">
                        <label for="image-upload">
                          <img src="assets\images\product\02.png" width="35"
                        /></label>
                        <input
                          id="image-upload"
                          class="file-upload"
                          type="file"
                          accept="image/*"
                          (change)="onImageSelected($event)"
                          name="image"
                          [(ngModel)]="user_update.image"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br /><br />
              <div class="row align-items-center">
                <div class="form-group col-sm-6">
                  <label for="fname">Nom : </label>
                  <input
                    type="text"
                    class="form-control"
                    id="fname"
                    name="fname"
                    [(ngModel)]="user_update.firstName"
                    required
                    #fname="ngModel"
                    [class.is-invalid]="fname.invalid && fname.touched"
                  />
                </div>
                <div class="form-group col-sm-6">
                  <label for="lname">Prénom :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lname"
                    name="lname"
                    [(ngModel)]="user_update.lastName"
                    required
                    #lname="ngModel"
                    [class.is-invalid]="lname.invalid && lname.touched"
                  />
                </div>
                <div class="form-group col-sm-6">
                  <label for="uname">Login :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="uname"
                    name="uname"
                    [(ngModel)]="user_update.userName"
                    required
                    #uname="ngModel"
                    [class.is-invalid]="uname.invalid && uname.touched"
                  />
                </div>
                <div class="form-group col-sm-6">
                  <label for="uname">Email:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    [(ngModel)]="user_update.email"
                    required
                    #email="ngModel"
                    [class.is-invalid]="email.invalid && email.touched"
                  />
                </div>
                <div class="form-group col-sm-6">
                  <label>Fonction</label>
                  <select
                    class="form-control"
                    id="Function"
                    name="function"
                    [(ngModel)]="user_update.job"
                  >
                    <option selected="">Etudiant</option>
                    <option>Ingenieur</option>
                    <option>Enseignat</option>
                  </select>
                </div>
                <div class="form-group col-sm-6">
                  <label for="uname">Téléphone :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    [(ngModel)]="user_update.phoneNumber"
                    required
                    #phone="ngModel"
                    [class.is-invalid]="phone.invalid && phone.touched"
                  />
                </div>

                <div class="form-group col-sm-6">
                  <label for="dob">Date de Naissance:</label>
                  <input
                    class="form-control"
                    id="dob"
                    type="date"
                    name="dob"
                    [(ngModel)]="user_update.dateOfBirth"
                    required
                    #date="ngModel"
                    [class.is-invalid]="date.invalid && date.touched"
                  />
                </div>

                <div class="form-group col-sm-6">
                  <label for="fname">Université ou Entreprise:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="age"
                    name="age"
                    [(ngModel)]="user_update.universityOrCompany"
                    required
                    #unive="ngModel"
                    [class.is-invalid]="unive.invalid && unive.touched"
                  />
                </div>
                <div class="form-group col-sm-6">
                  <label for="country">Bureau:</label>
                  <select
                    class="form-control"
                    id="office"
                    name="office"
                    [(ngModel)]="user_update.office"
                  >
                    <option>OFFICE_SOUSSE</option>
                    <option>OFFICE_SFAX</option>
                    <option>OFFICE_TUNIS</option>
                  </select>
                </div>
                <div class="form-group col-sm-6">
                  <label for="state">Region:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    name="state"
                    [(ngModel)]="user_update.region"
                    required
                    #reg="ngModel"
                    [class.is-invalid]="reg.invalid && reg.touched"
                  />
                </div>
                <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                      <h4 class="card-title">Téléchargez votre CV ici</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <img
                      (click)="openPdf(user_update.cv)"
                      src="assets\images\téléchargement.png"
                      width="50"
                      style="cursor: pointer"
                      *ngIf="user_update.cv"
                    />
                    <input
                      class="mx-5"
                      type="file"
                      (change)="onFileSelected($event)"
                      [(ngModel)]="cv.file"
                      name="cv"
                    />
                    <button
                      (click)="uploadFile()"
                      class="btn btn-primary px-5"
                      [disabled]="!selectedFile"
                    >
                    Téléchargez le CV
                    </button>
                  </div>
                </div>
              </div>
              <br />
              <button
                [disabled]="Changeform.form.invalid"
                type="submit"
                class="btn btn-primary mr-2"
                (click)="ChangeUser()"
              >
                Sauvegarder
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Modifier Mot de passe</h4>
            </div>
          </div>
          <div class="card-body">
            <form #changePassword="ngForm" (ngSubmit)="ChangePassword()">
              <div class="form-group">
                <label for="cpass">Mot de passe actuel:</label>
                <a routerLink="/auth/reset" class="float-right"
                  >Mot de passe oublié</a
                >
                <input
                  type="Password"
                  class="form-control"
                  id="cpass"
                  name="password"
                  [(ngModel)]="password_update.oldPassword"
                  required
                  #opassword="ngModel"
                  [class.is-invalid]="opassword.invalid && opassword.touched"
                />
                <span
                  class="input-group-text"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye': showPassword,
                      'fa-eye-slash': !showPassword
                    }"
                  ></i>
                </span>
              </div>
              <div class="form-group">
                <label for="npass">Nouveau mot de passe:</label>
                <input
                  type="Password"
                  class="form-control"
                  id="npass"
                  name="npassword"
                  [(ngModel)]="password_update.newPassword"
                  required
                  #npassword="ngModel"
                  [class.is-invalid]="npassword.invalid && npassword.touched"
                />
                <span
                  class="input-group-text"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye': showPassword,
                      'fa-eye-slash': !showPassword
                    }"
                  ></i>
                </span>
              </div>
              <button
                [disabled]="changePassword.form.invalid"
                type="submit"
                class="btn btn-primary mr-2"
              >
                Sauvegarder
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="manage-contact" role="tabpanel">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Gestion des contacts</h4>
            </div>
          </div>
          <div class="card-body">
            <form #Changeform="ngForm">
              <div class="form-group">
                <label for="cno">CType Contact:</label>
                <input
                  type="text"
                  placeholder="Email /Web Site /Email and website"
                  class="form-control"
                  id="type"
                  value="https://getbootstrap.com"
                  name="type"
                  [(ngModel)]="contact.platform"
                  required
                  #plat="ngModel"
                  [class.is-invalid]="plat.invalid && plat.touched"
                />
              </div>
              <div class="form-group">
                <label for="url">Url:</label>
                <input
                  type="text"
                  class="form-control"
                  id="url"
                  value="https://getbootstrap.com"
                  name="url"
                  [(ngModel)]="contact.url"
                  required
                  #url="ngModel"
                  [class.is-invalid]="url.invalid && url.touched"
                />
              </div>
              <button
                type="submit"
                (click)="Contact()"
                class="btn btn-primary mr-2"
              >
                Sauvegarder
              </button>
            </form>
            <br />
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="change-skill" role="tabpanel">
        <div class="card">
          <thead>
            <tr>
              <th>Name</th>
              <th>Nom</th>
              <th></th>
              <th></th>
              <th></th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categ of categories | async">
              <td>{{ categ.CategoryId }}</td>
              <td>{{ categ.name }}</td>
              <td>{{ categ.description }}</td>
              <td></td>
              <td>
                <button
                  style="margin-right: 16px"
                  (click)="deleteCategory(categ.CategoryId)"
                  class="btn btn-danger"
                >
                  Supprimer
                </button>
                <button
                  style="margin-right: 16px"
                  (click)="getRelatedSkiills(categ.CategoryId)"
                  class="btn btn-success"
                  style="margin-left: 10px"
                >
                Obtenir des compétences connexes
                </button>
              </td>
            </tr>
          </tbody>
          <br /><br />
          <thead>
            <tr>
              <th>SkillName</th>
              <th>Compétence</th>
              <th></th>
              <th></th>
              <th></th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categ of categories | async">
              <td>{{ categ.CategoryId }}</td>
              <td>{{ categ.name }}</td>
              <td>{{ categ.description }}</td>
              <td></td>
            </tr>
          </tbody>
        </div>
      </div>
    </div>
  </div>
</div>