<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div
              class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content"
            >
              <h5>Catégories</h5>
              <div class="d-flex flex-wrap align-items-center">
                <a
                  href="#"
                  class="btn btn-primary"
                  data-target="#new-task-modal"
                  data-toggle="modal"
                  >Nouvelle catégorie</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-12"
        id="collapseEdit1"
        *ngFor="let item of categories; let i = index"
      >
        <div class="card card-widget task-card">
          <div class="card-body">
            <div
              class="d-flex flex-wrap align-items-center justify-content-between"
            >
              <div
                class="d-flex align-items-center"
                (click)="
                  selectedCategory != item
                    ? (selectedCategory = item)
                    : (selectedCategory = null)
                "
                style="cursor: pointer"
              >
                <div
                  class="custom-control custom-task custom-checkbox custom-control-inline"
                >
                  <!-- <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck01"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheck01"
                  ></label> -->

                </div>
                <div>
                  <h5 class="mb-2">{{ item.name }}</h5>
                  <!-- <div class="media align-items-center">
                    <div class="btn bg-body mr-3">
                      <i class="ri-align-justify mr-2"></i>5/10
                    </div>
                    <div class="btn bg-body">
                      <i class="ri-survey-line mr-2"></i>3
                    </div>
                  </div> -->

                </div>
              </div>
              <div class="media align-items-center mt-md-0 mt-3">
                <a
                  class="bg-secondary-light rounded-circle iq-card-icon-small mx-2"
                >
                  <i
                    class="ri-delete-bin-line m-0"
                    (click)="deleteCategory(item)"
                  ></i>
                </a>
                <a
                  (click)="
                    selectedCategory != item
                      ? (selectedCategory = item)
                      : (selectedCategory = null)
                  "
                  class="btn"
                  [ngClass]="'bg-success-light'"
                  role="button"
                  ><i class="ri-edit-box-line m-0"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="collapse"
          [class.show]="selectedCategory === item"
          id="collapseEdit1"
          style=""
        >
          <div class="card card-list task-card">
            <div
              class="card-header d-flex align-items-center justify-content-between px-0 mx-3"
            >
              <div class="header-title">
                <div
                  class="custom-control custom-checkbox custom-control-inline"
                >
                  <!-- <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customCheck05"
                  /> -->

                  <label class="custom-control-label h5" for="customCheck05">
                    {{ item.name }}</label
                  >
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group mb-0">
                <label for="exampleInputText01" class="h5"
                  >Ajouter compétence</label
                >
                <div class="form-group mb-3 position-relative">
                  <input
                    type="text"
                    class="form-control bg-white"
                    placeholder="Catégorie"
                    style="width: 90%"
                    [(ngModel)]="newSkill"
                  />
                  <a class="task-edit task-simple-edit text-body">
                    <a
                      class="btn bg-primary-light mr-3"
                      (click)="addSkill(item)"
                      >Ajouter</a
                    >
                  </a>
                </div>
              </div>
              <label for="exampleInputText01" class="h5">Les compétences</label>
              <div
                class="form-group mb-3 position-relative"
                *ngFor="let skill of item.competences"
              >
                <input
                  style="width: 80%"
                  type="text"
                  class="form-control bg-white"
                  placeholder="{{ skill.name }}"
                  [(ngModel)]="skill.name"
                />
                <a class="task-edit task-simple-edit text-body">
                  <a
                    class="btn bg-success-light mr-3"
                    (click)="editSkill(item, skill)"
                    >Modifier</a
                  >
                  <a
                    class="btn bg-secondary-light mr-3"
                    (click)="deleteSkill(skill)"
                    >Supprimer</a
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade bd-example-modal-lg"
  role="dialog"
  aria-modal="true"
  id="new-task-modal"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-block text-center pb-3 border-bttom">
        <h3 class="modal-title" id="exampleModalCenterTitle">
          Nouvelle Catégorie
        </h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group mb-3">
              <label for="exampleInputText02" class="h5"
                >Titre de la categorie</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputText02"
                placeholder="Titre de la categorie"
                [(ngModel)]="newCategory.name"
              />
              <a href="#" class="task-edit text-body"
                ><i class="ri-edit-box-line"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mb-3">
              <label for="exampleInputText02" class="h5">Description</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputText02"
                placeholder="Description"
                [(ngModel)]="newCategory.description"
              />
              <a href="#" class="task-edit text-body"
                ><i class="ri-edit-box-line"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-12">
            <div
              class="d-flex flex-wrap align-items-ceter justify-content-center mt-4"
            >
              <div
                class="btn btn-primary mr-3"
                data-dismiss="modal"
                (click)="addCategory()"
              >
                Enregistrer
              </div>
              <div class="btn btn-primary" data-dismiss="modal">Annuler</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>