.event-image{
    overflow: auto;
  }
  
  .event{
    background-color: white;
    border-radius: 4%;
    max-width: 400px;
    margin: auto;
  }
  
  @media screen and (min-width: 2300px) {
    .col-xxl-3{
      max-width: 25%;
    }
  }